{% extends 'app.html.twig' %}


{% block body %}


    <div class="container mt-3">
        <div class="card">
            <div class="px-3 py-3">
                <h3 class="display-3">Formulaire sports</h3>
                <p>Merci d'indiquer ci-dessous, les sports que tu pratiquent</p>
                {% for errorMessage in app.flashes('error') %}
                    <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                        <div class="flex-fill mr-3">
                            <p class="mb-0">{{ errorMessage }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% for succesMessage in app.flashes('success') %}
                    <div class="alert alert-success d-flex align-items-center justify-content-between" role="alert">
                        <div class="flex-fill mr-3">
                            <p class="mb-0">{{ succesMessage }}</p>
                        </div>
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                <div class="row">
                {% for sport in form.users.children%}
                    <div class="col-md-6 mt-3 mb-3">
                        <div class="custom-control custom-block custom-control-success" data-children-count="1" style="padding-left: 0px">
                            <input type="checkbox" class="custom-control-input" id="{{ sport.vars.id }}" name="{{ sport.vars.full_name }}" value="{{ sport.vars.name }}">
                            <label class="custom-control-label" for="{{ sport.vars.id }}">
                                    <span class="d-block text-center">
                                        <i class="fa fa-check fa-2x mb-2 text-black-50"></i><br>
                                        {{ sport.vars.label }}
                                    </span>
                            </label>
                            <span class="custom-block-indicator">
                        <i class="fa fa-check"></i>
                    </span>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <button class="btn btn-success mt-5" type="submit">Suivant</button>
                {{ form_end(form , {'render_rest': false}) }}

            </div>
        </div>
    </div>
{% endblock %}
